*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, input, button{
    font-family: Arial;
}

html, body{
    height: 100%
}

body{
    display: flex;
    flex-direction: column;
}

.menu{
    height: 3.2rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.menu-section{
    display: flex;
    align-items: center;
}

.menu-section.left .menu-icon{
    padding: .75rem 1rem;
}

.menu-link{
    text-transform: uppercase;
    font-size: .75rem;
    font-weight: 600;
    color: gray;
    padding: .75rem .5rem;
}

.menu-link.active{
    color: blue;
    border-bottom: 2px solid rgb(63, 63, 226)
}

.menu-link:not(.active){
    margin-bottom: .13rem;
}

.menu-section.right{
    margin-right: .25rem;
}

.menu-section.right .menu-icon{
    padding: .75rem;
}

.menu-icon{
    height: 3.5rem;
    width: 3.5rem;
}

.menu-profile{
    padding: .25rem;
    width: 2.5rem;
    height: 2.5rem;
    position: relative;
}

.menu-avatar-frame{
    position: absolute;
    top: 0;
    left: 0;
    height: 2.5rem;
    width: 2.5rem;
}

.menu-avatar{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.content{
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 3.5rem .5rem 0;
    align-items: center;
}

.content-search{
    margin-top: 20px;
    height: 7%;
    width: 100%;
    max-width: 45.6rem;
    padding: .44rem .63rem .44rem 1.25rem;
    font-size: 1.13rem;
    color: black;
    background: transparent;
    border-radius: 1.57rem;
    border: 1px solid rgb(192, 183, 183);
    outline: none;
}

.content-offer{
    margin-top: 1.5rem;
    font-size: .88rem;
    padding: .38rem .75rem;
}

.content-offer a{
    text-decoration: none;
    color: blue;
}

.footer{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    background: rgb(235, 226, 226);
}

.footer-seciton:not(:first-child){
    border-top: 1px solid rgb(192, 183, 183);
}

.footer-location{
    font-size: .94rem;
    color: black;
    padding: .63rem .75rem;
}

.footer-links{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .75rem;
    color: rgb(68, 68, 68);
    padding: .63rem;
}

.footer-links a:not(:first-child){
    margin-left: 1.88rem;
}